In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/2425MBD41_Demo_Data.xlsx',
                   sheet_name='Current Applications')

In [ ]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_EDUCATION_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE
0,267142,0,Cash loans,F,49500.0,473760.0,Secondary / secondary special,-23768,NaN,XNA
1,344230,0,Revolving loans,F,103500.0,180000.0,Incomplete higher,-10346,Core staff,Business Entity Type 3
2,205422,0,Cash loans,M,202500.0,904608.0,Secondary / secondary special,-19321,Drivers,Self-employed
3,103524,0,Cash loans,M,112500.0,220500.0,Secondary / secondary special,-14489,Laborers,Other
4,196457,0,Cash loans,M,112500.0,454500.0,Secondary / secondary special,-10423,NaN,Mobile

In [ ]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
SK_ID_CURR,3075.0,NaN,NaN,NaN,276257.810732,103173.542089,100004.0,186817.5,272290.0,367166.0,456014.0
TARGET,3075.0,NaN,NaN,NaN,0.083252,0.276308,0.0,0.0,0.0,0.0,1.0
NAME_CONTRACT_TYPE,3075,2,Cash loans,2771,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CODE_GENDER,3075,2,F,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AMT_INCOME_TOTAL,3075.0,NaN,NaN,NaN,168861.174146,95505.391867,27000.0,112500.0,144000.0,202500.0,1125000.0
AMT_CREDIT,3075.0,NaN,NaN,NaN,601946.351707,412233.272241,45000.0,270000.0,512064.0,814041.0,3860019.0
NAME_EDUCATION_TYPE,3075,5,Secondary / secondary special,2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DAYS_BIRTH,3075.0,NaN,NaN,NaN,-16051.325528,4408.514798,-25161.0,-19672.0,-15771.0,-12415.5,-7760.0
OCCUPATION_TYPE,2081,18,Laborers,583,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ORGANIZATION_TYPE,3075,54,Business Entity Type 3,668,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['AMT_INCOME_TOTAL'].mean()

168861.17414634145

In [ ]:
df['AMT_INCOME_TOTAL'].std()

95505.39186726802

In [ ]:
df[['AMT_INCOME_TOTAL', 'AMT_CREDIT']].mean()

AMT_INCOME_TOTAL    168861.174146
AMT_CREDIT          601946.351707
dtype: float64

In [ ]:
df['NAME_CONTRACT_TYPE_LENGTH'] = df['NAME_CONTRACT_TYPE'].str.len()

In [ ]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'NAME_EDUCATION_TYPE', 'DAYS_BIRTH',
       'OCCUPATION_TYPE', 'ORGANIZATION_TYPE', 'NAME_CONTRACT_TYPE_LENGTH'],
      dtype='object')

In [ ]:
df = df[['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'NAME_CONTRACT_TYPE_LENGTH', 'CODE_GENDER',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'NAME_EDUCATION_TYPE', 'DAYS_BIRTH',
       'OCCUPATION_TYPE', 'ORGANIZATION_TYPE']]

In [ ]:
df[['NAME_CONTRACT_TYPE', 'NAME_CONTRACT_TYPE_LENGTH']].head(20)

   NAME_CONTRACT_TYPE  NAME_CONTRACT_TYPE_LENGTH
0          Cash loans                         10
1     Revolving loans                         15
2          Cash loans                         10
3          Cash loans                         10
4          Cash loans                         10
5          Cash loans                         10
6          Cash loans                         10
7          Cash loans                         10
8          Cash loans                         10
9          Cash loans                         10
10         Cash loans                         10
11         Cash loans                         10
12         Cash loans                         10
13         Cash loans                         10
14         Cash loans                         10
15         Cash loans                         10
16         Cash loans                         10
17         Cash loans                         10
18         Cash loans                         10
19         Cash loans                         10

In [ ]:
df['NAME_CONTRACT_TYPE'].str[2:7]

0       sh lo
1       volvi
2       sh lo
3       sh lo
4       sh lo
        ...
3070    sh lo
3071    sh lo
3072    sh lo
3073    sh lo
3074    volvi
Name: NAME_CONTRACT_TYPE, Length: 3075, dtype: object

In [ ]:
df['NAME_CONTRACT_TYPE'].str.lower()

0            cash loans
1       revolving loans
2            cash loans
3            cash loans
4            cash loans
             ...
3070         cash loans
3071         cash loans
3072         cash loans
3073         cash loans
3074    revolving loans
Name: NAME_CONTRACT_TYPE, Length: 3075, dtype: object

In [ ]:
df['NAME_CONTRACT_TYPE'].str.strip() # "  Cash loans   " -> "Cash loans"

0            Cash loans
1       Revolving loans
2            Cash loans
3            Cash loans
4            Cash loans
             ...
3070         Cash loans
3071         Cash loans
3072         Cash loans
3073         Cash loans
3074    Revolving loans
Name: NAME_CONTRACT_TYPE, Length: 3075, dtype: object

In [ ]:
df['NAME_CONTRACT_TYPE'].str.split().str[1] # two steps: 1) split 2) indexing

0       loans
1       loans
2       loans
3       loans
4       loans
        ...
3070    loans
3071    loans
3072    loans
3073    loans
3074    loans
Name: NAME_CONTRACT_TYPE, Length: 3075, dtype: object

In [ ]:
df['NAME_CONTRACT_TYPE'].str.split()[0]

['Cash', 'loans']

In [ ]:
df['NAME_CONTRACT_TYPE'].head()

0         Cash loans
1    Revolving loans
2         Cash loans
3         Cash loans
4         Cash loans
Name: NAME_CONTRACT_TYPE, dtype: object

In [ ]:
df['NAME_CONTRACT_TYPE'].str.replace('loans', 'LOAN')

0            Cash LOAN
1       Revolving LOAN
2            Cash LOAN
3            Cash LOAN
4            Cash LOAN
             ...
3070         Cash LOAN
3071         Cash LOAN
3072         Cash LOAN
3073         Cash LOAN
3074    Revolving LOAN
Name: NAME_CONTRACT_TYPE, Length: 3075, dtype: object